:root {
    --primary-clr: #1992d4;
    --secondary-clr: #fff;
    --main-bg-clr: #e2e8f0;
    --accent-clr: #f0b429;
    --nav-txt-clr: #fff;
    --paragraph-txt-clr: #636363;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;


    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        'nav header header'
        'nav main main';
}

p {
    color: var(--paragraph-txt-clr);
}

ul {
    padding: 0 36px;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    margin: 0;
    font-size: 0.9rem;
}

/* NAV START */

.grid-nav {
    grid-area: nav;
    color: var(--nav-txt-clr);
    background-color: var(--primary-clr);
}

.nav-project-logo {
    margin: 0 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.logo-icon {
    width: 64px;
    justify-self: start;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.nav-pages,
.nav-misc {
    margin: 50px 0;
    display: grid;
    grid-template-rows: repeat(6, 60px);
}

.nav-li {
    margin: 0;
    padding: 0;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.page-link {
    color: var(--secondary-clr);
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-icon {
    width: 32px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* NAV END */

/* HEADER START */

.grid-header {
    padding: 12px 36px;
    grid-area: header;
    background-color: var(--secondary-clr);

    display: grid;
    row-gap: 16px;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'search-bar search-bar search-bar user-status'
        'user-greet user-greet user-action user-action';
}

.search-bar {
    grid-area: search-bar;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 48px 1fr;
}

#search-icon {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    justify-self: start;
}

#search-bar-field {
    width: clamp(200px, 100%, 100%);
    height: 32px;
    background-color: var(--main-bg-clr);
    outline: none;
    border: none;
    border-radius: 12px;
}

.cur-user-status {
    grid-area: user-status;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 2fr;
}

.current-user-name {
    font-weight: 700;
    font-size: 1.2rem;
}

.cur-user-greetings {
    grid-area: user-greet;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
        'pfp greeting'
        'pfp user-alias';
}

.cur-user-pfp-greetings {
    grid-area: pfp;
    margin-right: 16px;
    justify-self: end;
}

.greeting {
    grid-area: greeting;
    font-size: 1rem;
    font-weight: 700;
}

.cur-user-name {
    grid-area: user-alias;
    font-size: 1.5rem;
    font-weight: 700;
}

.cur-user-actions {
    grid-area: user-action;
}

.header-icon {
    width: 28px;
    height: 28px;
    justify-self: end;
    margin-right: 16px;
}

.actions-btns {
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.user-action-btn {
    color: var(--nav-txt-clr);
    font-size: 1rem;
    font-weight: 700;
    width: 140px;
    height: 50px;
    background-color: var(--primary-clr);
    border: none;
    border-radius: 36px;
}

.cur-user-pfp {
    border-radius: 50%;
}

.mini-pfp {
    width: 48px;
}

.big-pfp {
    width: 64px;
}

/* HEADER END */

.grid-main {
    padding: 24px;
    grid-area: main;
    background-color: var(--main-bg-clr);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.container-header {
    font-size: 1.5rem;
    margin: 10px;
}

.projects-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 36px;
}

.card {
    padding: 24px;
    background-color: var(--secondary-clr);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 8fr 1fr;
}

.card-actions {
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 12px;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(3, 50px);
}

.card-actions li {
    display: grid;
    justify-items: center;
}

.card-icon {
    width: 28px;
    height: 28px;
}

.grid-misc {
    padding-left: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.anno-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.anno-card-container {
    padding: 24px;
    background-color: var(--secondary-clr);
    border-radius: 16px;
    display: grid;
    align-items: center;
}

.announcement-card:first-child {

}

.announcement-card>p {
    margin: 0;
}

.misc-trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending-card-container {
    background-color: var(--secondary-clr);
    border-radius: 16px;
}